*{
    box-sizing: border-box;
    background-color: pink;
}
#clockdiv{
    display: block;
    margin: auto;
    margin-top: 40px;
    height: 500px;
    font-size: large;
    width: 700px;
    background-image: url('images/birthday_background.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 2px;
    border-radius: 5px;
    border: solid orange;
    
    

}

.passbox{
    margin: auto;
    background-color: transparent;
    color: #800080;
    float:inline-start;

}

.Enterpass{
    background-color: transparent;
    color: green;

}
#inputbox{
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border-color: #f5d020;
}

#donebtn{
    margin: 25%;
    width: 50%;
    margin-top: 10px;
    color: blue;
    border-radius: 5px;
    background-color: #f5d020;
    background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
    padding: 4px;
    font-family: sans-serif;
    font-size: 25px;
    border-color: #f53803;
    font-weight: bold;

}
.daybox , .hourbox , .minutebox, .secondbox, .mobilewale {
    margin:auto;
    
    padding: 20px;
    border: solid 2px palevioletred;
    background-color: rgba(216, 112, 147, 0.356);
    border-radius: 4px;
    float: left;
    text-align: center;
    
    width: 20%;
    margin: 2%;
    margin-top: 100px;
}
.daybox{
    color: blue;
}
.hourbox{
    color: yellow;
}
.minutebox{
    color:  #800080;
}
.secondbox{
    color: chocolate;
}
.mobilewale{
    opacity: 0;
}
span{
    background-color: transparent;
    
}
.header1{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    color: chocolate;
    font-family: 'Cookie', cursive;
    font-size: 50px;
    width: fit-content;
}
@media screen and (max-width: 1080px) {
    *{
        width: 100%;
    }
    #clockdiv{
        margin: 0;
        width: 99%;
        height: 1000px;
        background-image: url("images/mobile_background.webp");
    }
.daybox , .hourbox , .minutebox, .secondbox{
    margin: 0;
    width: 40%;
    margin-top: 50px;
    
}
.daybox{
    margin-left: 10%;
    color: pink;
}
.minutebox{
    margin-left: 10%;
    color: orange;
}
.mobilewale{
    opacity: 1;
    margin: 30%;
    font-size: 90px;
    width: auto;
    border: hidden;
    background-color: transparent;
    font-family: 'Knewave', cursive;
    color:rgb(255, 238, 0);
    margin-top: 110px;
}
.Enterpass{
    font-size: 40px;
}
#inputbox{
    height: 50px;
    margin-bottom: 30px;
}
}.wrongpass1{
    background-color: transparent;
    color: red;
    font-family: 'Underdog', cursive;
    font-size: 10px;
    text-align: center;
    }